@media (min-width: 1536px){
  .container {
      max-width: 1293px !important;
  }
}
    
  .max-w-screen-sm {
    max-width: 368px !important;
  }
  .max-w-sm {
      max-width: 24rem !important;
  }
  .ml-4 {
    margin-left: 1.2rem !important;
  }
  .truncate_text{
    height:51px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
  }
  .truncate_title{
    height:31px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
  }
  .icon_hover:hover{
    color: rgb(209 213 219);
  }
  .width_description{
    display: block;
    width: 336px;
  }